html {
  background: url('./assets/grass.jpg') bottom repeat;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  flex-wrap: wrap;
  font-family: Courier, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 85px;
  margin: 0;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreboard {
  align-items: center;
  align-self: center;
  background-color: maroon;
  border-radius: 10px;
  border: gold 6px solid;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  min-width: 500px;
  padding: 20px 10px 20px 10px;
  width: 50%;
  margin-top: 80px;
  box-shadow: 2px 4px 2px black, 4px 6px 8px black;
}

.score-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}

.score-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scoreboard span {
  background-color: black;
  color: gold;
  font-size: 20px;
  height: 25px;
  padding: 5px;
  width: 60px;
}

.button-container button {
  height: 40px;
  background: gold;
  border: 1px solid black;
  box-shadow: 0 2px 0 black, 2px 4px 6px black;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 150ms linear;
  color: black;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.button-container button:hover {
  background: black;
  border: 2px solid gold;
  box-shadow: 1px 1px 2px black;
  color: gold;
  text-decoration: none;
  transition: all 250ms linear;
}

.counter {
  color: #fff;
  font-size: 30px;
}

#stop {
  margin-right: 15px;
}

.cabinet {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.hole-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.hole {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.hole:after {
  display: block;
  background: url('./assets/dirt.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}

.beaver {
  background: url('./assets/beaver.png') bottom center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100%;
  width: 200px;
  height: 200px;
  transition: all 0.4s;
  cursor: pointer;
}

.hole.peek .beaver {
  top: 15px;
}
