html {
  background: green;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  flex-wrap: wrap;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 85px;
  margin-bottom: 0;
  text-align: center;
}

.cabinet {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.hole {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.hole:after {
  display: block;
  background: url('./assets/dirt.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}

.mole {
  background: url('./assets/mole.png') bottom center no-repeat;
  background-size: 100%;
  position: absolute;
  top: 900%;
  width: 100%;
  height: 100%;
}
